# Q1

In [2]:
import pandas as pd
import statistics as stat

In [21]:
df = pd.read_excel("files_for_lab/machine.xlsx")
df

   New machine   Old machine
0         42.1          42.7
1         41.0          43.6
2         41.3          43.8
3         41.8          43.3
4         42.4          42.5
5         42.8          43.5
6         43.2          43.1
7         42.3          41.7
8         41.8          44.0
9         42.7          44.1

In [27]:
from scipy.stats import ttest_ind, norm
ttest = ttest_ind(df["New machine"], df[" Old machine"])
ttest

Ttest_indResult(statistic=-3.3972307061176026, pvalue=0.0032111425007745158)